body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}


#topbar1{
    width: 998px;
    margin: 0 auto;
    height: 40px;
}

#logo{
    margin-top: 8px;
    width: 85px;
    float: left;
    margin-right: 9px;
}

#signinlogo{
    float: left;
    width: 20px;
    margin: 11px 8px 0px 14px;
}

.top-section{
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 89%;
}

.color1:hover{
    border-bottom: 3.5px #1188BB solid;
}

.color2:hover{
    border-bottom: 3.5px #992211 solid;
}

.color3:hover{
    border-bottom: 3.5px #FFEE11 solid;
}

.color4:hover{
    border-bottom: 3.5px #88CCEE solid;
}

.color5:hover{
    border-bottom: 3.5px #2897E5 solid;
}

.color6:hover{
    border-bottom: 3.5px #262626 solid;
}

#signintext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding-right: 80px;
}

#newstext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding: 0px 12px;
}

#sporttext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding: 0px 12px;
}

#weathertext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding: 0px 12px;
}

#shoptext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding: 0px 12px;
}

#earthtext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding: 0px 12px;
}

#traveltext{
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 11px;
    padding: 0px 12px;
}

#moretext{
    float: left;
    font-size: 80%;
    font-weight: bold;
    color: black;
    position: relative;
    top: 13px;
    padding: 0px 12px;
}

#dropdown{
    float: left;
    width: 12px;
    margin: 16px 9px 0px 59px;
    
}

#search-box{
    float: left;
    margin: 8px 0px 0px 10px;
    background-color: #E4E4E4;
    border: none;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
}

#magnify{
    float: left;
    width: 26px;
    margin: 8px 0px 0px 0px;
}

.clear{
    clear:both;
}

#topbar2{
    background-color: #BB1919; 
    height: 56px;
}

#minitopbar2{
    width: 998px;
    margin: 0 auto;   
}

#newstext2{
    float: left;
    padding: 0;
    margin: 0;
    width: 125px;
    position: relative;
    top: 9px;
}

#topbar3{
    background-color: #A91717;
    height: 36px;
}

#container{
    width: 998px;
    margin: 0 auto;
}


.a1{
    color: white;
    text-decoration: none;
    margin-top: 12px;
    padding: 0px 12px 5px 11px;
    float: left;
    font-size: 90%;
    border-right:1px #BB4545 solid;
}

.a2{
    padding-left: 0px;
    color: white;
    margin-top: 12px;
    text-decoration: none;
    padding: 0px 14px 5px 0px;
    float: left;
    font-size: 90%;
    border-right:1px #BB4545 solid;
}

.selected{
    border-bottom: 8px white solid;
}

.a1:hover{
    border-bottom: 8px white solid;
}

.a2:hover{
    border-bottom: 8px white solid;
}

#more{
      color: white;
      text-decoration: none;
      padding: 12px 0px 7px 13px;
      float: left;
      font-size: 90%;
}

#more-arr{
    width: 12px;
    margin: 0 10px 0 5px;
}

#more:hover{
    background-color: black;
} !important